@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Quattrocento', serif;
    src: url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
}
body, html {
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

main {
    width: 100%;
    padding: 0px;
    margin: auto;
}

header {
    background-color: black;
}

header h1 {
    color: white;
    padding: 10px;
}

i#burguer {
    display: block;
    color: white;
    font-size: 24px;
    text-align: right;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

i#burguer:hover {
    color: #504C4C;
}

menu {
    display: none;
}

.header-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

.header-topo h1 {
    font-size: 1.2em;
    font-weight: 100;
}

menu ul {
    list-style-type: none;
}

menu ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #504C4C;
    color: white;
    border-top: 2px solid black;
}

menu ul li a:hover {
    background-color: gray;
}

.banner {
    display: block;
    width: 100%;
    height: 100px;
    margin: 30px auto;
    padding: 10px 40px;
}


.banner h1 {
    font-size: 24px;
    font-weight: 300;
    color: white;
    text-align: left;
}

.banner p {
    width: 100%;
    margin-top: 10px;
    font-size: 12px;
    font-weight: lighter;
    text-align: justify;
    color: rgb(194, 190, 190);
}

.logos {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 0px auto;
    padding: 0px 20px;
}

.logos img {
    display: block;
    width: 13%;
}

.conteudo {
    padding: 0px 10px 10px 10px;
}
.conteudo img {
    width: 100%;

}

.conteudo ul {
    color: white;
    list-style: none;
    padding: 20px 20px;
}

.conteudo li {
    padding-bottom: 10px;
}

.conteudo li h1 {
    font-size: 24px;
    font-weight: 300;
    color: white;
    text-align: left;
}

.conteudo li p {
    width: 100%;
    margin-top: 10px;
    font-size: 12px;
    font-weight: lighter;
    text-align: justify;
    color: rgb(194, 190, 190);
}

.conteudo-2 {
    width: 100%;
    color: white;
    background-color: #504C4C;
    box-sizing: border-box;
    padding: 0px 10px 10px 10px;
}

.conteudo-2 ul {
    list-style: none;
    padding: 20px 20px;
}

.conteudo-2 li h1 {
    font-size: 24px;
    font-weight: 300;
    color: white;
    text-align: left;
}

.conteudo-2 li p {
    width: 100%;
    margin-top: 10px;
    font-size: 12px;
    font-weight: lighter;
    text-align: justify;
    color: rgb(194, 190, 190);
}

.guia3 {
    padding: 20px 30px;
}

.guia3 h1 {
    font-size: 24px;
    font-weight: 300;
    color: white;
    text-align: left;
}

.guia3 p {
    width: 100%;
    margin-top: 10px;
    font-size: 12px;
    font-weight: lighter;
    text-align: justify;
    color: rgb(194, 190, 190);
}

.guia3 button {
    background-color: yellow;
    margin-top: 10px;
    width: 120px;
    height: 30px;
}

.final {
    display: flex;
    background-color: #504C4C;
    color: rgba(255, 255, 255, 0.671);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    padding: 0px 40px;
}

.final h1 {
    font-size: 14px;
    font-weight: 100;
}

.redes img {
    width: 14px;
    height: 14px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    i#burguer {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
    }

    menu#itens {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        margin-right: 220px;
    }

    menu#itens ul {
        display: flex;
        flex-direction: row;
        gap: 1px;
        margin: 0 auto;
        padding: 0;
    }
    
    menu#itens ul li a {
        display: block;
        color: white;
        background: none;
        font-size: 12px;
        padding: 8px 10px;
        white-space: nowrap;
    }

    .banner h1 {
        font-size: 1.9em;
    }

    .banner p {
        font-size: 18px;
    }

    .logos {
        padding-top: 60px;
    }

    .conteudo li h1 {
        font-size: 1.9em; 
        padding-top: 20px; 
    }

    .conteudo li p {
        font-size: 18px;
        padding-bottom: 20px;
    }

    .conteudo-2 li h1 {
    font-size: 1.9em;
    }

    .conteudo-2 li p {
    font-size: 18px;
    max-width: 640px;
    }

    .guia3 {
    padding: 40px 20px;
    }

    .guia3 h1 {
        font-size: 1.9em;
    }

    .guia3 p {
        font-size: 18px;
    }

}

@media screen and (min-width: 992px) {
    
    i#burguer {
        display: none;
    }

    .header-topo  h1 {
        color: rgb(216, 214, 214);
        font-size: 1em;
        padding: 0px 50px;
        margin: 10px 0px;
    }


    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
    }

    menu#itens {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        margin-right: 620px;
    }

    menu#itens ul {
        display: flex;
        flex-direction: row;
        gap: 1px;
        margin: 0 auto;
        padding: 0;
    }
    
    menu#itens ul li a {
        display: block;
        color: white;
        background: none;
        font-size: 14px;
        padding: 8px 10px;
        white-space: nowrap;
    }

    .banner {
        padding: 0px 60px;
    }

    .banner h1 {
        max-width: 600px;
        font-style: normal;
        font-size: 3em;
    }

    .banner p {
        font-style: normal;
        font-size: 1.3em;
    }

    .logos {
        margin-top: 60px;
        padding-top: 80px;
    }

    .logos div {
        flex: 1 1 100px;
        margin: 10px;
        width: 80%;
    }

    .logos img {
        width: 12%;
        padding: 0px 40px;
    }

    .conteudo ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 20px 40px;
    }

    .conteudo ul h1 { 
        font-size: 2.4em;
        margin-bottom: 0px;
    }

    .conteudo img {
        width: 640px;
    }

    .conteudo li p {
        font-size: 1.2em;
        max-width: 500px;
    }

    .conteudo-2 ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 20px 40px;
        margin-bottom: 10px;
    }

    .conteudo-2 ul h1 { 
        font-size: 2.4em;
        margin-bottom: 0px;
    }

    .conteudo-2 li p {
        font-size: 1.2em;
        max-width: 640px;
    }

    .guia3 {
        padding: 30px 50px;
    }

    .guia3 h1 {
        font-size: 2.4em;
        max-width: 600px;
    }

    .guia3 p {
        font-style: normal;
        font-size: 1.2em;
        max-width: 500px;
    }

    .guia3 button {
    font-size: 0.9em;
    width: 150px;
    height: 50px;
    }

    .final {
        height: 40px;
        padding: 0px 90px;
    }

    .redes img {
        height: 20px;
        width: 20px;
    }

}
